$mod+1 exec workspacefade.sh 1
$mod+2 exec workspacefade.sh 2
$mod+3 exec workspacefade.sh 3
$mod+4 exec workspacefade.sh 4
$mod+5 exec workspacefade.sh 5
$mod+6 exec workspacefade.sh 6
$mod+7 exec workspacefade.sh 7
$mod+8 exec workspacefade.sh 8
$mod+9 exec workspacefade.sh 9
$mod+0 exec workspacefade.sh 10
