mode "focus" {
	bindsym F11 exec notify-send "You are in focus mode"
	bindsym Ctrl+t  exec notify-send "You are in focus mode"
	bindsyom Ctrl+Shift+t exec notify-send "You are in focus mode"
	bindsym Ctrl+n exec notify-send "You are in focus mode"
	bindsym Ctrl+Shift+n exec notify-send "You are in focus mode"
	bindsym Ctrl+w exec notify-send "You are in focus mode"

  # In this section you should also add all keybindings that you do want to have access to.
  # I personally have screenshot, powermenu, brightness and volume keybinds
}
